#box {
  background-color: #9147f3;
  height: 50px;
  margin: 10px auto;
  top: 1px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid #3a3a90;
  position: absolute;
  left: 20%;
}
