#button {
  color: red;
  height: 50px;
  background-color: yellow;
  width: 50px;
  text-align: center;
  margin: 10px auto;
  border: 2px solid purple;
  position: absolute;
  top: 1px;
  left: 5%;
}
