#demo-box {
  background-color: #d6d6d6;
  height: 100vh;
  border: 1px solid black;
  top: 90px;
  position: absolute;
  width: 100%;
  padding: 20px;
}

#demo-box-info {
  height: 40px;
  padding: 20px;
}

#text-form-field-info {
  width:80%;
}
